/* Geometry */

body {
  position: relative;
  margin: 0em 3em;
}

#title {
  position: absolute;
  left: 0;
  top: 1.5em;
  height: 6em;
  width: 100%;
}

#title h1 {
  line-height: 2.5em;
  margin: 0em;
  padding: 0em 0.5em;
}

#sections {
  position: absolute;
  right: 0;
  top: 9em;
  height: 13em;
  width: 23em;
}

#sections ul {
  list-style: none;
  margin: 0.75em;
  padding: 0;
}

#sections li {
  margin: 0.4em 0em;
  padding: 0em;
  zoom: 1;
}

#sections li a {
  display: block;
}

#user {
  position: absolute;
  right: -1px;
  top: 17em;
  width: 100%;
  padding: 1em 0em;
}  

#user p {
  display: block;
  margin-left: 0.75em;
  text-align: left;
}

#user a {
display: block;
margin-right: 0.75em;
text-align: right;
}

#news {
  position: absolute;
  right: 0;
  top: 31.3em;
  width: 23em;
  padding-bottom: 0.75em;
}

#news h3 {
  margin: 1.5em 1em 0.2em 1em;
}

#news p {
  margin: 0.5em 1em;
}

#content {
  padding-top: 9em;
  margin-right: 24.5em;
}

#main {
  min-height: 30em;
  zoom: 1;
}

#main p {
  margin: 0.75em;
}

#main .picture {
  float: left;
  margin-right: 0.75em;
}

#meta {
  margin-top: 1.5em;
  margin-right: 28.8em;
}

#meta p {
  margin: 0.5em 0;
}

h2 {
  margin: 0;
  padding: 0.1em 0.6em;
}

#sections h2,
#news h2 {
  text-align: right;
}

#title,
#main,
#sections,
#user,
#news,
#main .picture {
  border-style: solid;
  border-width: 1px;
}

/* Colors ******************/

html {
  background: url(../images/pix-window-bg.png) white left top repeat-x;
}

#title {
  background: url(../images/pix-title-bg.png) #638f7b right center no-repeat;
  border-color: #2a3d34;
}

h1 {
  background: url(../images/h1-bg.png) transparent left center repeat-x;
}

#main,
#sections,
#news,
#user {
  background: #f3f8f6;
  color: #2a3d34;
}

#main,
#sections,
#news,
#user {
  border-color: #638f7b;
}

h2 {
  background: url(../images/h2-bg.png) #2a3d34 left top repeat-x;
}

h1,
h2 {
  color: #fbcf64;
}

#sections li {
  background: url(../images/section-arrow.png) right center no-repeat;
}

#sections a,
#user p,
#news h3 {
  color: #638f7b;
}

#news a,
#main .picture {
  color: #c79728;
}

#meta,
#meta a {
  color: #ccc;
}

/* Fonts *******************/

body {
  font: small Tahoma, Arial, sans-serif;
}

h1 {
  font-size: 250%;
  text-transform: uppercase;
}

h2 {
  font-size: 130%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#user,
#news p,
#news h3 {
  font-size: 85%;
}

#sections ul a {
  font-size: 160%;
  font-weight: bold;
  text-decoration: none;
}

#meta {
  font-size: 85%;
}
